name: Deploy Infraestrutura

on:
  push:
    branches:
      - master  # 游 O deploy roda apenas quando h치 push na master desse reposit칩rio

jobs:
  deploy:
    runs-on: self-hosted  # 游댳 O agente de infraestrutura executar치 esse job

    steps:
      - name: Checkout do C칩digo  # 游댳 Baixa o reposit칩rio
        uses: actions/checkout@v3

      - name: Parar Containers Antigos  # 游댳 Garante que os servi칞os antigos sejam derrubados
        run: docker-compose down

      - name: Construir e Subir Infraestrutura  # 游댳 Sobe os novos servi칞os
        run: docker-compose up --build -d

      - name: Verificar se os Containers Est칚o Rodando  # 游댳 Confirma que tudo foi iniciado corretamente
        run: docker ps
